body {
  margin: 0;

  --indicator-size: 1.5em;
  --indicator-left-padding: 1em;

  --left-gap: 1em;
  --padding: 0.3em;
  --border-radius: calc(0.5 * ((2 * var(--padding) + var(--indicator-size))));
}

#left-indicators {
  position: absolute;
  top: 0em;
  left: 0em;
}

.indicator {
  display: block;
  width: fit-content;

  position: relative;
  margin-top: 1em;

  padding: var(--padding);
  padding-left: var(--left-gap);
  padding-right: calc(var(--padding) + var(--border-radius));

  line-height: var(--indicator-size);

  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  white-space: nowrap;
}

#engine-running {
  padding-left: calc(2 * var(--left-gap));
  padding-right: calc(
    var(--indicator-left-padding) + var(--indicator-size) + var(--padding)
  );

  background: #dfffe4;
  color: black;

  transform: translate(
    calc(-100% + ((2 * var(--padding)) + var(--indicator-size))),
    0
  );

  transition: transform 1s;

  z-index: 1;
}

#engine-running:hover {
  transform: translate(0, 0);
}

#engine-running::after {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(calc(-100% - var(--padding)), -50%);

  content: "";

  width: var(--indicator-size);
  height: var(--indicator-size);

  background-color: green;

  border-radius: calc(0.5 * var(--indicator-size));
}

#engine-running.stop {
  background: #ffdddd;
}

#engine-running.stop::after {
  background-color: red;
}

#alpha-label {
  color: white;

  z-index: 2;
}

#alpha-value {
  padding-left: 0.3em;
}

#right-buttons {
  position: absolute;
  top: 1em;
  right: 1em;
}

#right-buttons > .button {
  display: inline-block;

  padding: 0 1em;
}
