.graph-nav-info {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: slategrey;
  opacity: 0.7;
  font-size: 10px;
}

.graph-info-msg {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: lavender;
  opacity: 0.7;
  font-size: 22px;
}

.graph-tooltip {
  position: absolute;
  color: lavender;
  font-size: 18px;
}